---
import Carrusel from "../projects/Carrusel.astro";
import projects from "../../collections/projects.json";

interface Props {
  id: number;
}
const { id } = Astro.props;
const data = projects.find((item) => item.id === id);

const BASE = "";
---

<div class="card card-compact bg-base-100 shadow-xl h-full">
  <figure onclick=`modal_${data.id}.showModal()` class="bg-gray-800">
    <img
      src=`${BASE}${data.img}`
      alt={data.name}
      title={data.name}
      class="w-100 h-40"
    />
  </figure>
  <div class="card-body">
    <a href={data.url} target="_blank">
      <h2 class="card-title">
        <i class="fa-solid fa-diagram-project"></i>{data.name}
      </h2>
    </a>
    <p>{data.description.slice(0, 120)}...</p>
    <div class="py-3">
      <p>
        Tags:
        {
          data.tags.map((d, index) => {
            if (index > 3) {
              return null;
            }

            return (
              <>
                {(d === "HTML" || d === "LARAVEL") && (
                  <span class="badge badge-danger badge-outline text-xs mr-1 mb-2">
                    {d}
                  </span>
                )}
                {(d === "CSS" || d === "TAILWIND" || d === "POSTGRESQL") && (
                  <span class="badge badge-info badge-outline text-xs mr-1 mb-2">
                    {d}
                  </span>
                )}
                {(d === "JS" || d === "ASTRO") && (
                  <span class="badge badge-warning badge-outline text-xs mr-1 mb-2">
                    {d}
                  </span>
                )}
                {(d === "PHP" || d === "BOOTSTRAP") && (
                  <span class="badge badge-secondary badge-outline text-xs mr-1 mb-2">
                    {d}
                  </span>
                )}
                {(d === "VUE" || d === "MYSQL" || d === "SQLITE") && (
                  <span class="badge badge-success badge-outline text-xs mr-1 mb-2">
                    {d}
                  </span>
                )}
              </>
            );
          })
        }
        <span class="badge badge-neutral text-xs mr-1 mb-2">Más... </span>
      </p>
    </div>
    <div class="card-actions justify-end">
      <button
        class="btn btn-primary btn-sm"
        onclick=`modal_${data.id}.showModal()`
      >
        <i class="fa-solid fa-plus"></i>Ver Más
      </button>
    </div>
  </div>
</div>

<dialog id=`modal_${data.id}` class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
        ✕
      </button>
    </form>
    <h3 class="text-lg font-bold">
      <i class="fa-solid fa-diagram-project"></i>
      {data.name}
    </h3>
    <p class="py-4">
      {data.description}
    </p>
    <p class="py-3">
      <Carrusel id={id} />
    </p>
    <p class="py-3">
      <p class="text-sm mb-1">Nivel de participación:</p>
      <progress class="progress progress-primary" value={data.level} max="100"
      ></progress>
      <div class="grid place-items-center">
        <span>{data.level}%</span>
      </div>
    </p>
    <div class="py-3">
      <p>
        Tags:
        {
          data.tags.map((d) => {
            return (
              <>
                {(d === "HTML" || d === "LARAVEL") && (
                  <span class="badge badge-danger badge-outline text-xs mr-1 mb-2">
                    {d}
                  </span>
                )}
                {(d === "CSS" || d === "TAILWIND" || d === "POSTGRESQL") && (
                  <span class="badge badge-info badge-outline text-xs mr-1 mb-2">
                    {d}
                  </span>
                )}
                {(d === "JS" || d === "ASTRO") && (
                  <span class="badge badge-warning badge-outline text-xs mr-1 mb-2">
                    {d}
                  </span>
                )}
                {(d === "PHP" || d === "BOOTSTRAP") && (
                  <span class="badge badge-secondary badge-outline text-xs mr-1 mb-2">
                    {d}
                  </span>
                )}
                {(d === "VUE" || d === "MYSQL" || d === "SQLITE") && (
                  <span class="badge badge-success badge-outline text-xs mr-1 mb-2">
                    {d}
                  </span>
                )}
              </>
            );
          })
        }
      </p>
    </div>
    <div class="grid justify-items-end mt-5">
      <p>
        {
          data.url != null && (
            <a href={data.url} target="_blank">
              <div class="badge badge-primary p-4">Visitar sitio</div>
            </a>
          )
        }
        {
          data.url == null && (
            <div class="badge badge-neutral text-white p-4">Sitio privado</div>
          )
        }
      </p>
    </div>
  </div>
</dialog>
