---
import Layout from "../layouts/Layout.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import Title from "../components/Title.astro";
import menu from "../collections/menu.json";
import HeroAbout from "../components/HeroAbout.astro";
import HeroEducation from "../components/education/Hero.astro";
import HeroTechnologies from "../components/technologies/Hero.astro";
import HeroExperience from "../components/HeroExperience.astro";

const idPage = 2;
const data = menu.find((item) => item.id === idPage);
---

<Layout title={data.name}>
	<main>
		<Breadcrumb id={idPage} />
		<Title id={idPage} />
		<HeroAbout id={idPage} />
		<HeroExperience />
		<HeroEducation />
		<div id="tecnologies">
			<HeroTechnologies id={idPage} />
		</div>
	</main>
</Layout>
