---
import carrusel from "../collections/carrusel.json";

const total = carrusel.length;
const BASE = "";
---

<div class="carousel w-full h-full">
    {
        carrusel.map((c) => {
            return (
                <div id=`carrusel_${c.id}` class="carousel-item relative w-full h-100">
                    {!c.text && <img src=`${BASE}${c.url}` class="w-full" />}
                    {c.text && (
                        <div id=`heroHome${c.id}` class="hero bg-base-200 md:py-20">
                            <div class="hero-content flex-col lg:flex-row-reverse">
                                <img
                                    src=`${BASE}/assets/img/me/img-001.jpg`
                                    class="max-h-40 p-0 md:max-h-80 rounded-lg shadow-2xl"
                                />
                                <div class="text-white hidden md:block">
                                    <h1 class="text-5xl font-bold">
                                        {c.hero.name}
                                    </h1>
                                    <p class="py-6">{c.hero.description}</p>
                                    <a href=`${BASE}${c.hero.url}`>
                                        <button class="btn btn-primary">
                                           Más información
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    )}
                    <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                        {c.id <= 1 ? <a href=`#carrusel_${total}` class="btn btn-circle"> ❮ </a> : <a href=`#carrusel_${c.id - 1}` class="btn btn-circle"> ❮ </a>}
                        {c.id >= total ? <a href="#carrusel_1" class="btn btn-circle"> ❯ </a> : <a href=`#carrusel_${c.id + 1}` class="btn btn-circle"> ❯ </a>}
                    </div>
                </div>
            );
        })
    }
</div>

<script>
    const BASE =  "";
    const hero1 = document.getElementById('heroHome1');
    hero1.style.backgroundImage = `url(${BASE}/assets/img/carruselHome/img-001.jpg)`;
    const hero2 = document.getElementById('heroHome3');
    hero2.style.backgroundImage = `url(${BASE}/assets/img/carruselHome/img-001.jpg)`;
</script>
